# Puerto
PORT=3000

# Mercado Pago
MERCADOPAGO_ACCESS_TOKEN=APP_USR-7215833646681882-042314-8a6b73129c1eaa7bad24e626d312c736-254339153

# SendGrid
SENDGRID_API_KEY=re_HxvrhAzV_MVPawJuhabzjZY3DeZKE1Kt3
ADVISOR_EMAIL=asesor.pac@gmail.com

# Sitio
SITE_URL=https://acp.example.com
NODE_ENV=production

# Precios (opcional)
PRICE_BASIC_CLP=49900
PRICE_PREMIUM_CLP=149900
