# Puerto
PORT=3000

# Mercado Pago
MERCADOPAGO_ACCESS_TOKEN=APP_USR-XXXXXXXXXXXXXXXX-XXXXXX-XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX-XXXXXXXXX
MERCADO_PAGO_CLIENT_SECRET=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

# SendGrid
SENDGRID_API_KEY=SG.XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
ADVISOR_EMAIL=asesor.pac@gmail.com

# Sitio
SITE_URL=https://acp.example.com
NODE_ENV=production

# Precios (opcional)
PRICE_BASIC_CLP=49900
PRICE_PRE